asttokens==3.0.0          # via stack-data
certifi==2025.1.31        # via curl-cffi, requests, -r app/requirements.txt
cffi==1.17.1              # via curl-cffi, -r app/requirements.txt
charset-normalizer==3.4.1  # via requests, -r app/requirements.txt
curl-cffi==0.10.0         # via -r app/requirements.txt
decorator==5.2.1          # via ipython
executing==2.2.0          # via stack-data
gallery-dl==1.29.2        # via -r app/requirements.txt
idna==3.10                # via requests, -r app/requirements.txt
instaloader==4.14.1       # via -r app/requirements.txt
ipython==9.0.2            # via -r dev-requirements.in
ipython-pygments-lexers==1.1.1  # via ipython
jedi==0.19.2              # via ipython
matplotlib-inline==0.1.7  # via ipython
nodeenv==1.9.1            # via pyright
parso==0.8.4              # via jedi
pathspec==0.12.1          # via ssort
pexpect==4.9.0            # via ipython
plumbum==1.9.0            # via -r app/requirements.txt
prompt-toolkit==3.0.50    # via ipython
ptyprocess==0.7.0         # via pexpect
pure-eval==0.2.3          # via stack-data
pycparser==2.22           # via cffi, -r app/requirements.txt
pygments==2.19.1          # via ipython, ipython-pygments-lexers
pyright==1.1.397          # via -r dev-requirements.in
pytelegrambotapi==4.26.0  # via -r app/requirements.txt
requests==2.32.3          # via gallery-dl, instaloader, pytelegrambotapi, -r app/requirements.txt
ruff==0.11.2              # via -r dev-requirements.in
ssort==0.14.0             # via -r dev-requirements.in
stack-data==0.6.3         # via ipython
stamina==25.1.0           # via -r app/requirements.txt
structlog==25.2.0         # via -r app/requirements.txt
tenacity==9.0.0           # via stamina, -r app/requirements.txt
traitlets==5.14.3         # via ipython, matplotlib-inline
typing-extensions==4.13.0  # via pyright
urllib3==2.3.0            # via requests, -r app/requirements.txt
wcwidth==0.2.13           # via prompt-toolkit
yt-dlp==2025.3.26         # via -r app/requirements.txt
