annotated-types==0.7.0    # via pydantic, -r app/requirements.txt
asttokens==3.0.0          # via stack-data
certifi==2025.1.31        # via curl-cffi, requests, -r app/requirements.txt
cffi==1.17.1              # via curl-cffi, -r app/requirements.txt
charset-normalizer==3.4.1  # via requests, -r app/requirements.txt
curl-cffi==0.10.0         # via -r app/requirements.txt
decorator==5.2.1          # via ipython
executing==2.2.0          # via stack-data
gallery-dl==1.29.3        # via -r app/requirements.txt
idna==3.10                # via requests, -r app/requirements.txt
instagrapi==2.1.3         # via -r app/requirements.txt
instaloader==4.14.1       # via -r app/requirements.txt
ipython==9.0.2            # via -r dev-requirements.in
ipython-pygments-lexers==1.1.1  # via ipython
jedi==0.19.2              # via ipython
markdown-it-py==3.0.0     # via rich
matplotlib-inline==0.1.7  # via ipython
mdurl==0.1.2              # via markdown-it-py
nodeenv==1.9.1            # via pyright
parso==0.8.4              # via jedi
pathspec==0.12.1          # via ssort
pexpect==4.9.0            # via ipython
pillow==11.1.0            # via -r app/requirements.txt
plumbum==1.9.0            # via -r app/requirements.txt
prompt-toolkit==3.0.50    # via ipython
ptyprocess==0.7.0         # via pexpect
pure-eval==0.2.3          # via stack-data
pycparser==2.22           # via cffi, -r app/requirements.txt
pycryptodomex==3.21.0     # via instagrapi, -r app/requirements.txt
pydantic==2.10.1          # via instagrapi, -r app/requirements.txt
pydantic-core==2.27.1     # via pydantic, -r app/requirements.txt
pygments==2.19.1          # via ipython, ipython-pygments-lexers, rich
pyright==1.1.398          # via -r dev-requirements.in
pysocks==1.7.1            # via instagrapi, -r app/requirements.txt
pytelegrambotapi==4.26.0  # via -r app/requirements.txt
requests==2.32.3          # via gallery-dl, instagrapi, instaloader, pytelegrambotapi, -r app/requirements.txt
rich==14.0.0              # via -r dev-requirements.in
ruff==0.11.4              # via -r dev-requirements.in
ssort==0.14.0             # via -r dev-requirements.in
stack-data==0.6.3         # via ipython
stamina==25.1.0           # via -r app/requirements.txt
structlog==25.2.0         # via -r app/requirements.txt
tenacity==9.1.2           # via stamina, -r app/requirements.txt
traitlets==5.14.3         # via ipython, matplotlib-inline
typing-extensions==4.13.1  # via pydantic, pydantic-core, pyright, -r app/requirements.txt
urllib3==2.3.0            # via requests, -r app/requirements.txt
wcwidth==0.2.13           # via prompt-toolkit
yt-dlp==2025.3.31         # via -r app/requirements.txt
