certifi==2025.1.31        # via curl-cffi, requests
cffi==1.17.1              # via curl-cffi
charset-normalizer==3.4.1  # via requests
curl-cffi==0.7.1          # via yt-dlp
gallery-dl==1.29.2        # via -r requirements.in
idna==3.10                # via requests
instaloader==4.14.1       # via -r requirements.in
plumbum==1.9.0            # via -r requirements.in
pycparser==2.22           # via cffi
pytelegrambotapi==4.26.0  # via -r requirements.in
requests==2.32.3          # via gallery-dl, instaloader, pytelegrambotapi
stamina==25.1.0           # via -r requirements.in
structlog==25.2.0         # via -r requirements.in
tenacity==9.0.0           # via stamina
urllib3==2.3.0            # via requests
yt-dlp==2025.2.19         # via -r requirements.in
