certifi==2025.1.31        # via requests
charset-normalizer==3.4.1  # via requests
gallery-dl==1.28.5        # via -r requirements.in
idna==3.10                # via requests
instaloader==4.14.1       # via -r requirements.in
plumbum==1.9.0            # via -r requirements.in
pytelegrambotapi==4.26.0  # via -r requirements.in
requests==2.32.3          # via gallery-dl, instaloader, pytelegrambotapi
stamina==24.3.0           # via -r requirements.in
structlog==25.1.0         # via -r requirements.in
tenacity==9.0.0           # via stamina
urllib3==2.3.0            # via requests
yt-dlp==2025.2.19         # via -r requirements.in
