annotated-types==0.7.0    # via pydantic
arrow==1.4.0              # via inform
brotli==1.2.0             # via yt-dlp
certifi==2026.2.25        # via curl-cffi, requests, sentry-sdk, yt-dlp
cffi==2.0.0               # via curl-cffi
charset-normalizer==3.4.4  # via requests
curl-cffi==0.14.0         # via yt-dlp
decorator==4.4.2          # via moviepy
gallery-dl==1.31.7        # via -r reqs/requirements.in
html2text==2025.4.15      # via -r reqs/requirements.in
idna==3.11                # via requests
imageio==2.37.2           # via moviepy
imageio-ffmpeg==0.6.0     # via moviepy
inform==1.36              # via nestedtext
instagrapi @ git+https://github.com/subzeroid/instagrapi@557e2b2d1d96e5ed1c3722cc5856cac58670a32d  # via -r reqs/requirements.in
instaloader==4.15         # via -r reqs/requirements.in
moviepy==1.0.3            # via instagrapi
mutagen==1.47.0           # via yt-dlp
nestedtext==3.8           # via -r reqs/requirements.in
numpy==2.4.2              # via imageio, moviepy
pillow==12.1.1            # via imageio, -r reqs/requirements.in
plumbum==1.10.0           # via -r reqs/requirements.in
proglog==0.1.12           # via moviepy
pycparser==3.0            # via cffi
pycryptodomex==3.23.0     # via instagrapi, yt-dlp
pydantic==2.12.5          # via instagrapi
pydantic-core==2.41.5     # via pydantic
pysocks==1.7.1            # via instagrapi
pytelegrambotapi==4.31.0  # via -r reqs/requirements.in
python-dateutil==2.9.0.post0  # via arrow
requests==2.32.5          # via gallery-dl, instagrapi, instaloader, moviepy, pytelegrambotapi, yt-dlp
sentry-sdk==2.53.0        # via structlog-sentry, -r reqs/sentry-requirements.in
six==1.17.0               # via inform, python-dateutil
stamina==25.2.0           # via -r reqs/requirements.in
structlog==25.5.0         # via structlog-sentry, -r reqs/requirements.in
structlog-sentry==2.2.1   # via -r reqs/sentry-requirements.in
tenacity==9.1.4           # via stamina
tqdm==4.67.3              # via moviepy, proglog
typing-extensions==4.15.0  # via pydantic, pydantic-core, typing-inspection
typing-inspection==0.4.2  # via pydantic
tzdata==2025.3            # via arrow
urllib3==2.6.3            # via requests, sentry-sdk, yt-dlp
websockets==16.0          # via yt-dlp
yt-dlp==2026.2.21         # via -r reqs/requirements.in
yt-dlp-ejs==0.5.0         # via yt-dlp
